*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    background-color: hsl(235, 18%, 26%);
}


.container{
    width: 90%;
    display: flex;
  
    margin-top:20px ;
    gap:50px;
    margin-left: 40px;
    border-radius: 20px;
    background-color: white;
    
}
.img-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width:57%;
    border-radius: 20px;
    margin-left: 30px;
}

.signup h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;

}

.signup p{
    font-size: 20px;
    font-weight: 300;
}
.icon-1{
    margin: 20px;
}
.icon-1 svg{
    margin-right: 10px;
}

.form label{
    
    font-size: large;
    font-weight: 600;
    color:hsl(235, 18%, 26%);

}

.form-control{
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
}

.form button{
    padding: 20px;
    background-color: hsl(235, 18%, 26%);
    border:none;
    border-radius: 12px;
    font-size: 20px;
}


.form label{
    display: flex;
    justify-content: space-between;
}
#msg-error{
    color:red;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
    
    }
    .img-fluid{
        width: 100%;
    }
    .signup{
        width: 100%;
    }
    .form-control{
        width:90%;
    }
    .btn {
      margin-bottom: 20px;
      margin-right: 10px;
    }
    
  }

  @media only screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
    
    }
    .img-fluid{
       height: 250px;
    }
    .signup{
        width: 100%;
    }
    .form-control{
        width:90%;
    }
    .btn {
      margin-bottom: 20px;
      margin-right: 10px;
    }

    
  }